* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-decoration: underline;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  background-color: #e3e3e3;
  text-decoration: none;

  /* No underlining */
}

a:visited {
  /* visited link */
  color: #737373;
  background-color: #e3e3e3;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  background-color: #e3e3e3;
}

a:active {
  /* selected link */
  color: #994c30;
  background-color: #e3e3e3;
}

nav > ul > li > a:visited {
  /* visited link */
  color: #737373;
  background-color: transparent;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #cc6540;
  background-color: transparent;
  text-decoration: underline;
}

nav > ul > li > a:active {
  /* selected link */
  color: #994c30;
  background-color: transparent;
}

.button {
  display: inline-block;

  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffba34;
  color: #535353;

  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;

  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #A26B00;
  text-transform: uppercase;
  border: 2px solid #A26B00;
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  opacity: 0.5;

  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.svg-inline--fa.fa-linkedin {
  color: #0077b5;
  background-color: transparent;
  width: 40px;
  padding: 10px 0;
}

#button {
  color: #ffba34;
  background-color: transparent;
}

header {
  background-color: #e3e3e3;
  color: #000000;
  padding: 10px 0 4px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.4);
  position: fixed;
  width: 100%;
}

/* Navigation items are hidden except menu icon for screens less than 640px, small screens */
.navtoggle li:not(:last-child) {
  display: none;
}

/* Postion of the menu icon in relationship to the header */

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

/* Menu bar icon */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
  padding-right: 10px;
  color: #000000;
  background-color: transparent;
}

/* Will override when responsive class is toggled */
.navtoggle.responsive li {
  display: block;
}

/* Styling for menu icon when toggled */
.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1.5px solid #c4c4c4;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;

  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4f4f4f;
  background-color: transparent;
}

#hero {
  background-color: #dbe5ee;
}

#hero {
  background-color: #dbe5ee;
  color: #000000;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 59px;
}

footer {
  background-color: #f2f2f2;
  color: #222222;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#skills {
  background-color: #dbe5ee;
  color: #000000;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 78px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .logo {
    min-width: 250px;
  }

  nav > ul > li {
    display: inline-block;
  }

  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle.responsive li {
    border-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    padding-top: 104px;
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }

    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }

    to {
      transform: translate(100px, 48px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
}
